<div class="d-flex align-items-center justify-content-center min-vh-100">
  <div>
    <app-notification />
    <div class="card shadow-sm p-4" style="width: 100%; max-width: 650px">
      <h4 class="text-center mb-4">Login</h4>

      <!-- ✅ Moved form wrapper outside of row -->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="row d-flex mb-3">
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-user"></i>
              </span>
              <input
                type="text"
                id="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('email')?.invalid &&
                    loginForm.get('email')?.touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="loginForm.get('email')?.errors?.['required']"
              >
                Email is required.
              </div>
              <div
                class="invalid-feedback"
                *ngIf="loginForm.get('email')?.errors?.['email']"
              >
                Invalid email format.
              </div>
            </div>
          </div>

          <div class="col-12 mt-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input
                type="password"
                id="password"
                formControlName="password"
                class="form-control"
                [ngClass]="{
                  'is-invalid':
                    loginForm.get('password')?.invalid &&
                    loginForm.get('password')?.touched
                }"
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  loginForm.get('password')?.errors?.['required'] ||
                  loginForm.get('password')?.errors?.['minlength']
                "
              >
                Password must be at least 8 characters long.
              </div>
            </div>
          </div>
        </div>

        <button
          type="submit"
          [disabled]="loginForm.invalid || (loading$ | async)"
          class="btn btn-primary mt-4 w-100"
        >
          Login
        </button>
      </form>
      <div class="text-center mt-3">
        <p class="mb-0">
          Don't have an account?
          <a routerLink="/register" class="text-primary">Register</a>
        </p>
      </div>
    </div>
  </div>
</div>
